body {
    background-color: #588C7E;
    font-family: 'Lora', sans-serif;
}

form {
    background-color: #F2AE72;
     padding: 20px;
     margin-left: 250px;
     margin-right: 250px;
     font-size: 25px;
     z-index: -1;
}

#formResults {
    background-color: #F2AE72;
     padding: 20px;
     padding-top: 30px;
     margin-left: 350px;
     margin-right: 350px;
     margin-top: -33px;
     font-size: 25px;
     z-index: -1;
}

#navInfo {
    background-color: #F2E394;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: -33px;
    padding-left: 0px;
}

#navInfo a {
    padding-left: 7px;
    padding-right: 7px;
}
#navInfo a:hover {
    background-color: #8C4646;
    color: white;
}

#navInfo span {
    padding-left: 10px;
}

h1 {
    background-color: #F2E394;
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    padding-left: 50px;
    margin-right: 200px;
    margin-left: 200px;
}

.numbers {
    float: right;
}

.percent {
   
    font-family: 'Titillium Web', sans-serif;
    padding-right: 10px;
}

#databaseInfo {
    background-color: #F2AE72;
     padding: 20px;
     margin-left: 250px;
     margin-right: 250px;
     font-size: 25px;
     z-index: -1;
}
.tableTxt {
    padding-left: 15px;
    float: right;
}

.poster {
    width: 275px;
}

a {
    text-decoration: none;
    color: black;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: url(moviePosters/13.jpg); //#abd;
}
